<% if resource.artist %>
​
<!-- ARTIST EDIT -->
​
<ul class="nav nav-tabs">
  <li role="presentation" class="tab active">
    <a data-target="#edit" href="#edit">
      Mon profil
    </a>
  </li>
  <li role="presentation" class="tab">
    <a data-target="#portfolio" href="#portfolio">
      Mon portfolio
    </a>
  </li>
</ul>

​
<div class="tab-content" data-target="#edit" id="edit">
  <div class="well">
  <h1 class="text-center">Modifier mon profil </h1>
      <div class="container">
        <div class="col-xs-12 col-md-6 col-md-offset-3">
          <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
          <%= f.error_notification %>
          <%= devise_error_messages! %>
          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
          <% end %>
          <h3>Modifications de compte</h3>
          <%= f.input :first_name, autofocus: true %>
          <%= f.input :last_name %>
          <%= f.input :presentation %>
          <%= f.input :phone_number %>
          <%= f.input :current_password, hint: "we need your current password to confirm your changes", required: true %>
​
          <h3>Adresse de Facturation</h3>
          <%= f.input :address_street %>
          <%= f.input :address_city %>
          <%= f.input :address_postal_code %>
          <h3>Visuels</h3>
          <%= f.input :url, label: "Votre site internet" %>
          <%= f.input :avatar, as: :attachinary %>
          <%= f.button :submit, "Save", class: "btn btn-success btn-block"%>
​
          <% end %>
          <h3>Supprimer mon compte</h3>
            <p>Mécontent <%= link_to "Supprimer Mon Compte", registration_path(resource_name), data: { confirm: "Vous êtes sûr?" }, method: :delete %></p>
        </div>
      </div>
    </div>
</div>
​
 <!-- LA PARTIE PORTFOLIO  -->
 <div class="row">
 <h1 class="text-center">Modifier mon profil </h1>
  <div class="col-xs-12 col-sm-6">
    <div class="tab-content hidden" data-target="#portfolio" id="portfolio">
      <div class="container">
        <h1>Mon Portfolio</h1>
          <% if @current_user.portfolio_photos?%>
          <% @current_user.portfolio_photos.each do |photo| %>
            <%= link_to cl_image_path(photo.path), class:"swipebox" do %>
              <%= cl_image_tag photo.path, height: 100, width: 100, crop: :fill %>
            <% end %>
          <% end %>
          <% end %>
​
            <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
            <%= f.error_notification %>
            <%= devise_error_messages! %>
            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
            <% end %>
​
            <h3>Modifier Visuels</h3>
            <%= f.input :portfolio_photos, as: :attachinary %>
            <%= f.button :submit, "Save", class: "btn btn-success btn-block"%>
​
            <% end %>
            <h3>Supprimer mon compte</h3>
              <p>Mécontent <%= link_to "Supprimer Mon Compte", registration_path(resource_name), data: { confirm: "Vous êtes sûr?" }, method: :delete %></p>
      </div>
    </div>
  </div>
</div>
​
<!-- CLIENT EDIT -->

<% else %>
    <div class="well">
    <h1 class="text-center">Modifier mon profil </h1>
      <div class="container-fluid">
        <div class="col-xs-12 col-md-6 col-md-offset-3">
          <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
          <%= f.error_notification %>
          <%= devise_error_messages! %>
          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
          <% end %>
          <%= f.input :email, autofocus: true %>
          <%= f.input :first_name %>
          <%= f.input :last_name %>
          <%= f.input :address_street %>
          <%= f.input :address_city %>
          <%= f.input :address_postal_code %>
          <%= f.input :presentation %>
          <%= f.input :phone_number %>
          <%= f.input :avatar, as: :attachinary %>
          <%= f.input :gender, collection: ["male", "female"] %>
          <%= f.input :current_password, hint: "we need your current password to confirm your changes", required: true %>
          <%= f.button :submit, "Save", class: "btn btn-success btn-block"
           %>
​
          <% end %>
        </div>
      </div>
    </div>
<% end %>
