<ul class="nav nav-pills nav-stacked">
  <li role="presentation" class="<%= active_class(me_artist_path)%>">
    <%= link_to "Tous les projets", me_artist_path %>
  </li>
  <li role="presentation" class="<%= active_class(me_artist_winnings_path)%>">
    <%= link_to "Mes propositions", me_artist_winnings_path %>
  </li>
  <li role="presentation" class="<%= active_class(edit_user_registration_path)%>">
    <%= link_to "Mon profil", edit_user_registration_path %>
  </li>
</ul>
