<!-- Banner with search buttons  -->
<div class="banner" style="background: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('http://www.dotstolines.com/wp-content/uploads/2014/10/DotsToLines029.jpg?c93722');">
  <div class="banner-content">
    <h1>Bienvenue chez PersoTattoo</h1>
    <p>Enjoy worldwide quality.</p>
    <!-- <a class="btn btn-primary btn-lg">GET IT</a> -->


    <div class="home-cta">
      <% if user_signed_in? %>

          <% if current_user.artist == false %>
            <%= link_to "Obtenir mon tattoo personnalisé", me_path, class: "btn-cta-customer" %>
          <% else %>
            <%= link_to "Obtenir mon tattoo personnalisé", me_artist_path, class: "btn-cta-customer" %>
          <% end %>
          <% if current_user.artist == false %>
            <%= link_to "Je suis un artiste", me_path, class: "btn-cta-artist" %>
          <% else %>
            <%= link_to "Je suis un artiste", me_artist_path, class: "btn-cta-artist" %>
          <% end %>

        <% else %>

          <%= link_to "Obtenir mon tattoo personnalisé", new_project_path, class: "btn-cta-customer" %>
          <%= link_to "Je suis un artiste", sign_up_artist_path, class: "btn-cta-artist" %>

      <% end %>
    </div>
  </div>
</div>
