<%= link_to "<<< Modifier mon profil artiste", edit_user_registration_path, class:"btn btn-primary"%>
<br>
<br>
<%= link_to '<<< Propositions', me_artist_proposals_path, class:"btn btn-success" %>
<br>
<br>
<%= link_to '<<< Mes messages', conversations_path, class:"btn btn-primary" %>



<div class="container profile-header-container text-center">
    <div class="profile-header-infos">
      <% if current_user.avatar? %>
          <%= cl_image_tag current_user.avatar.path, height: 100, width: 100, crop: :fill  %>
      <% end %>
      <h1><%= current_user.first_name%> <%= current_user.last_name%></h1>

    </div>
</div>

<!-- LA PARTIE TAB -->
<!-- <ul class="nav nav-tabs">
  <li role="presentation" class="tab active">
    <a data-target="#projects" href="#projects">
      Projets
    </a>
  </li>
  <li role="presentation" class="tab">
    <a data-target="#portfolio" href="#portfolio">
      Portfolio
    </a>
  </li>
</ul>
 -->

<!-- LA PARTIE PROJETS  -->
<div class="container">
    <h1>Tous les projets</h1>
      <div class="row">
        <div class="col-xs-12 col-sm-6">
        <% @projects.each do |project| %>
          <div id="card-project-<%= project.id %>">
            <div class="card" style="background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('assets/images/project.jpg')">
            <div class="card-description">
              <% content_for :after_js do %>
                <script>
                  var endingAt = moment("<%= project.ending_at %>");

                  var currentTime = moment.utc();
                  var diffTime = endingAt - currentTime;
                  var duration = moment.duration(diffTime);
                  var interval = 1000;

                  setInterval(function(){
                    duration = moment.duration(duration - interval, 'milliseconds');
                      $('#project-countdown-<%= project.id %>').text(duration.days() + "j - " + duration.hours() + ":" + ('00' + duration.minutes()).slice(-2) + ":" + ('00' + duration.seconds()).slice(-2))
                  }, interval);
                </script>
              <% end %>
              <h2><strong><%= project.title %></strong></h2>
              <h3><%= project.user.first_name %></h3>
              <h2><span class="label label-success"><%= project.price %>€</span></h2>
              <h2><%= link_to "Cacher", project_hidden_projects_path(project), method: :post, data: {confirm: 'Sûr de cacher ce projet ? Cette action est définitive.'}, remote: true %></h2>
              </div>
              <div id="project-countdown-<%= project.id %>"></div>
            </div>
            <%#= link_to "Proposal", new_project_proposal_path(project), {class: "card-link"} %>
            </div>
          </div>
        <% end %>
        </div>
      </div>
  </div>
</div>
<!-- LA PARTIE PORTFOLIO  -->
<!-- <div class="row">
  <div class="col-xs-12 col-sm-6">
    <div class="tab-content hidden" data-target="#portfolio" id="portfolio">
        <h1>Mon Portfolio</h1>
        <% if @current_user.portfolio_photos?%>
          <% @current_user.portfolio_photos.each do |photo| %>
          <%= cl_image_tag photo.path, height: 150, width: 100, crop: :fill %>
          <% end %>
        <% end %>
      </div>
  </div>
</div> -->
