
<!-- LA PARTIE PROJETS  -->
  <h1>Tous les projets</h1>
  <div class="row">
    <% @projects.each do |project| %>
      <div class="col-xs-12 col-sm-6" id="card-project-<%= project.id %>">
        <div class="card" style="background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path project.photos.first.path if project.photos.any? %>')">
          <div class="card-category">
            <% if project.user.avatar? %>
              <%= cl_image_tag project.user.avatar.path, size: "30x30", class: "avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
            <%else%>
              <%= cl_image_tag "https://freeiconshop.com/files/edd/person-solid.png", size: "30x30", class: "avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
              <% end %>
            <%= project.user.first_name%>
          </div>

          <!-- TO MOVE SOMEWHERE ELSE -->
          <% content_for :after_js do %>
            <script>
              var endingAt<%= project.id %> = moment('<%= project.ending_at %>');

              var currentTime = moment.utc();
              var diffTime<%= project.id %> = endingAt<%= project.id %> - currentTime;
              var duration<%= project.id %> = moment.duration(diffTime<%= project.id %>);
              var interval = 1000;

              setInterval(function(){
                duration<%= project.id %> = moment.duration(duration<%= project.id %> - interval, 'milliseconds');
                $('#project-countdown-<%= project.id %>').text(duration<%= project.id %>.days() + "j - " + duration<%= project.id %>.hours() + ":" + ('00' + duration<%= project.id %>.minutes()).slice(-2) + ":" + ('00' + duration<%= project.id %>.seconds()).slice(-2))
              }, interval);
            </script>
          <% end %>
          <!-- NO KIDDING -->

          <div id="project-countdown-<%= project.id %>" class="countdown"></div>
          <div class="card-description">
            <h2>
              <%= project.title %>
              <%= link_to "", "#", class:"card-description card-link", data: { toggle: "modal", target: "#modal-project-#{project.id}" } %>

            </h2>

          </div>
          <span class="label label-success"><%= humanized_money (project.price) %> €</span>

          <%= link_to project_hidden_projects_path(project), method: :post, class: "card-hide", data: {confirm: 'Sûr de cacher ce projet ? Cette action est définitive.'}, remote: true do %>
            <i class="fa fa-eye-slash"></i> Cacher ce projet
          <% end %>
        </div>
      </div>

      <div class="modal fade" id="modal-project-<%= project.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              <h4 class="modal-title" id="myModalLabel">Ma proposition</h4>
            </div>
            <div class="modal-body">
              <%= simple_form_for [project, @proposal] do |f| %>
                <%= f.input :content, label: 'Explication', placeholder: 'Expliquez pourquoi vous avez décidé de réaliser cette superbe esquisse' %>
                <%= f.input :photos, label: 'Visuels', as: :attachinary %>
                <%= f.button :submit, "Soumettre ma proposition", class: "btn btn-success btn-block"%>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>



