
<ul class="nav nav-tabs">
  <li role="presentation" class="tab active">
    <a data-target="#accepted" href="#accepted">
      Mes propositions acceptées
    </a>
  </li>
  <li role="presentation" class="tab">
    <a data-target="#pending" href="#pending">
      Mes propositions en attente
    </a>
  </li>
</ul>

<!-- ACCEPTED PROPOSALS -->
​
<div class="container">
  <div class="row">
    <% @proposals.each do |proposal| %>
      <%= proposal.content %>
      <%= proposal.validated_at %>
      <%= proposal.project.user.first_name %>
      <%= link_to "Voir", proposal_path(proposal) %>
      <br>
    <% end %>
  </div>
</div>
​
 <!-- PENDING PROPOSALS  -->

<div class="tab-content" data-target="#accepted" id="accepted">
  <div class="well">
  <h1 class="text-center">Mes propositions confirmées </h1>
      <div class="container">
       <div class="row">
         <div class="col-xs-12 col-sm-6">
         <% current_user.proposals.each do |proposal| %>
           <div class="card" style="background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('assets/images/project.jpg')">
           <div class="card-description">
             <p><%= proposal.content %></p>
           </div>
           <%= link_to "Proposal", proposal_path(proposal), {class: "card-link"} %>
           </div>
         <% end %>
         </div>
       </div>
      </div>
    </div>
</div>
