<%= link_to "<<< Modifier mon profil artiste", edit_user_registration_path, class:"btn btn-primary"%>
<br>
<br>
<%= link_to '<<< Propositions', me_artist_proposals_path, class:"btn btn-success" %>
<br>
<br>
<%= link_to '<<< Mes messages', conversations_path, class:"btn btn-primary" %>

<!-- LA PARTIE TAB -->
<!-- <ul class="nav nav-tabs">
  <li role="presentation" class="tab active">
    <a data-target="#projects" href="#projects">
      Projets
    </a>
  </li>
  <li role="presentation" class="tab">
    <a data-target="#portfolio" href="#portfolio">
      Portfolio
    </a>
  </li>
</ul>
 -->

<!-- LA PARTIE PROJETS  -->
<div class="container">
  <h1>Tous les projets</h1>
  <div class="row">
    <% @projects.each do |project| %>
      <div class="col-xs-12 col-sm-6" id="card-project-<%= project.id %>">
        <div class="card" style="background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path project.photos.first.path if project.photos.any? %>')">
          <div class="card-category">
            <% if project.user.avatar? %>
          <%= cl_image_tag project.user.avatar.path, size: "30x30", class: "avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
          <%else%>
           <%= cl_image_tag "https://freeiconshop.com/files/edd/person-solid.png", size: "30x30", class: "avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
          <% end %>
          <%= project.user.first_name%>
          </div>

          <!-- TO MOVE SOMEWHERE ELSE -->
          <% content_for :after_js do %>
            <script>
              var endingAt = moment("<%= project.ending_at %>");

              var currentTime = moment.utc();
              var diffTime = endingAt - currentTime;
              var duration = moment.duration(diffTime);
              var interval = 1000;

              setInterval(function(){
                duration = moment.duration(duration - interval, 'milliseconds');
                $('#project-countdown-<%= project.id %>').text(duration.days() + "j - " + duration.hours() + ":" + ('00' + duration.minutes()).slice(-2) + ":" + ('00' + duration.seconds()).slice(-2))
              }, interval);
            </script>
          <% end %>
          <!-- NO KIDDING -->

          <div id="project-countdown-<%= project.id %>" class="countdown"></div>
          <div class="card-description">
            <h2>
              <%= project.title %>
              <%= link_to "", new_project_proposal_path(project), class:"card-description card-link"%>
            </h2>
          </div>
          <span class="label label-success"><%= project.price %>€</span>

          <%= link_to project_hidden_projects_path(project), method: :post, class: "card-hide", data: {confirm: 'Sûr de cacher ce projet ? Cette action est définitive.'}, remote: true do %>
            <i class="fa fa-eye"></i> Cacher ce projet
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>

