<div class="banner" style="background: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://drscdn.500px.org/photo/83060751/q%3D80_h%3D450/291b840e7d1ddd12bfe3c44d70f19222');">
  <div class="container">
    <div class="light-well">
      <div class="row">
        <div class="col-xs-12 col-md-6 col-md-offset-3">

          <h3 class="text-center black-policy">Décrivez votre projet
            Lancez votre concours pour obtenir votre tatouage personnalisé
          </h3>
            <%= simple_form_for @project, html: { class: "form-horizontal cente r"} do |f| %>
              <div class="form-group">
                <%= f.input :title, label: "Titre", placeholder: "Ex. : une chouette sur une branche de bambou" %>
              </div>
              <div class="form-group">
                <%= f.input :description, label: "Description", placeholder: "Ex. : la chouette doit être le sujet principal, avec des yeux transpersants. La branche de bambou doit comporter quelques feuilles, de style moderne." %>
              </div>
              <div class="form-group">
                <%= f.input :style, placeholder: "Style", collection: ["Japonais", "Mots / Calligraphie", "Dessin", "Graphique / abstrait", "Tribal / Maori", "Bio-méchanique", "Dotwork-Linework / Mandala", "New school / Old school", "Watercolor"], selected: "Japonais" %>
              </div>
              <h3 class="text-center black-policy">Dimensions du Tattoo</h3>
                  <%= f.input :height  %>
                  <%= f.input :width %>
              <h3 class="text-center black-policy">Images d'inspiration</h3>
              <div class="form-group">
                <%= f.input :photos, as: :attachinary %>
              </div>
              <div class="form-group">
                <%= f.input :price, collection: ["99", "199", "299"] %>
              </div>

              <div class="form-group">
                <%= f.button :submit, "Soumettre mon projet" , class: "btn btn-success btn-block" %>
              </div>

         </div>
       <% end %>
      </div>
    </div>
  </div>
</div>


