<div class="container">

  <h1><%= @project.title %></h1>

  <p><%= @project.description %></p>
  <p><%= @project.style %></p>
  <p><%= @project.height %></p>
  <p><%= @project.width %></p>
  <p><strong>Amount: <%= humanized_money_with_symbol(@project.price) %></strong></p>


<%= form_tag orders_path do %>
  <%= hidden_field_tag 'project_id', @project.id %>
  <%= submit_tag 'Purchase' %>
<% end %>

</div>
