 <div class="row">
      <% @proposals.each do |p| %>
        <br>
        <div class="card" style="background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path p.photos.first.path if p.photos.any? %>');">
         <div class="card-description">
          <h2>
            <%="proposition de  #{p.user.first_name}"%>
          </h2>
          <%=  "Details :  #{p.content}" %>

          <h3><button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#proposal-<%= p.id %>">
            Choisir cette proposition
          </button>
        </h3>
      </div>
    </div>

    <div class="modal fade" id="proposal-<%= p.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title" id="myModalLabel">Choisir cet artiste</h4>
          </div>
          <div class="modal-body">
          </div>
          <div class="modal-footer">

          <%= simple_form_for p do |f| %>
            <%= f.simple_fields_for :message do |m| %>
              <%= m.input :content, as: :text %>
            <% end %>
            <%= f.button :submit, "Soumettre ma proposition", class: "btn btn-success btn-block"%>
          <% end %>

          <%#= link_to "Confirmer cette collaboration", proposal_path(p), method: :patch, remote: true, class:"btn btn-primary" %>

          <%= link_to "Retour", project_proposals_path, class: "btn btn-primary" %>

          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>














